

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne" (click)="toggleDisplay()">
      <button class="search accordion-button collapsed" type="button">
        <strong style="font-size:1.9rem">Search By Name</strong>
      </button>
    </h2>
    <div *ngIf="display">
      <div class="searchbody accordion-body">
        <input type="text" [(ngModel)]="result" />
        <button (click)="searchByName()" style="margin-left:0.5rem;">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="accordion" id="accordionExample1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo" (click)="toggleDisplay2()">
      <button class="search accordion-button collapsed" type="button">
        <strong style="font-size:1.9rem">Search By Filter</strong>
      </button>
    </h2>
    <div *ngIf="display2">
      <div class="searchbody accordion-body">
        <form>
          <div class = "row">
          <div class = "col">
            <h3 style="text-decoration:underline">Activity</h3>     
            <div class="container" style="font-size:large;">
              <input
              type="checkbox"
              id="Arts and Culture"
              name="Filter"
              value="Arts and Culture,"
            />
            <label for="Arts and Culture">Arts and Culture</label><br />
            <input
              type="checkbox"
              id="Astronomy"
              name="Filter"
              value="Astronomy,"
            />
            <label for="Astronomy"> Astronomy</label><br />
            <input
              type="checkbox"
              id="Auto and ATV"
              name="Filter"
              value="Auto and ATV,"
            />
            <label for="Auto and ATV"> Auto and ATV </label><br />
            <input type="checkbox" id="Biking" name="Filter" value="Biking," />
            <label for="Biking">Biking</label><br />
            <input type="checkbox" id="Boating" name="Filter" value="Boating," />
            <label for="Boating">Boating</label><br />
            <input type="checkbox" id="Camping" name="Filter" value="Camping," />
            <label for="Camping">Camping</label><br />
            <input
              type="checkbox"
              id="Canyoneering "
              name="Filter"
              value="Canyoneering,"
            />
            <label for="Canyoneering ">Canyoneering</label><br />
            <input type="checkbox" id="Caving" name="Filter" value="Caving," />
            <label for="Caving">Caving</label><br />
            <input
              type="checkbox"
              id="Climbing"
              name="Filter"
              value="Climbing,"
            />
            <label for="Climbing">Climbing</label><br />
            <input
              type="checkbox"
              id="Compass and GPS"
              name="Filter"
              value="Compass and GPS,"
            />
            <label for="Compass and GPS">Compass and GPS</label><br />
            <input
              type="checkbox"
              id="Dog Sledding"
              name="Filter"
              value="Dog Sledding,"
            />
            <label for="Dog Sledding">Dog Sledding</label><br />
            <input type="checkbox" id="Fishing" name="Filter" value="Fishing," />
            <label for="Fishing">Fishing</label><br />
            <input type="checkbox" id="Flying" name="Filter" value="Flying," />
            <label for="Flying">Flying</label><br />
            <input type="checkbox" id="Golfing" name="Filter" value="Golfing," />
            <label for="Golfing">Golfing</label><br />
            <input type="checkbox" id="Food" name="Filter" value="Food," />
            <label for="Food">Food</label><br />
            <input
              type="checkbox"
              id="Guided Tours"
              name="Filter"
              value="Guided Tours,"
            />
            <label for="Guided Tours">Guided Tours</label><br />
            <input
              type="checkbox"
              id="Hands-On"
              name="Filter"
              value="Hands-On"
            />
            <label for="Hands-On">Hands-On</label><br />
            <input type="checkbox" id="Hiking" name="Filter" value="Hiking," />
            <label for="Hiking">Hiking</label><br />
            <input
              type="checkbox"
              id="Horse Trekking"
              name="Filter"
              value="Horse Trekking,"
            />
            <label for="Horse Trekking">Horse Trekking</label><br />
            <input
              type="checkbox"
              id="Hunting and Gathering"
              name="Filter"
              value="Hunting and Gathering,"
            />
            <label for="Hunting and Gathering">Hunting and Gathering</label><br />
            <input
              type="checkbox"
              id="Ice Skating"
              name="Filter"
              value="Ice Skating,"
            />
            <label for="Ice Skating">Ice Skating</label><br />
            <input
              type="checkbox"
              id="Junior Ranger Program"
              name="Filter"
              value="Junior Ranger Program,"
            />
            <label for="Junior Ranger Program">Junior Ranger Program</label><br />
            <input
              type="checkbox"
              id="Living History"
              name="Filter"
              value="Living History,"
            />
            <label for="Living History">Living History</label><br />
            <input
              type="checkbox"
              id="Museum Exhibits"
              name="Filter"
              value="Museum Exhibits,"
            />
            <label for="Museum Exhibits">Museum Exhibits</label><br />
            <input
              type="checkbox"
              id="Paddling"
              name="Filter"
              value="Paddling,"
            />
            <label for="Paddling">Paddling</label><br />
            <input
              type="checkbox"
              id="Park Film"
              name="Filter"
              value="Park Film,"
            />
            <label for="Park Film">Park Film</label><br />
            <input
              type="checkbox"
              id="Playground"
              name="Filter"
              value="Playground,"
            />
            <label for="Playground">Playground</label><br />
            <input
              type="checkbox"
              id="SCUBA Diving"
              name="Filter"
              value="SCUBA Diving,"
            />
            <label for="SCUBA Diving ">SCUBA Diving</label><br />
            <input
              type="checkbox"
              id="Shopping"
              name="Filter"
              value="Shopping,"
            />
            <label for="Shopping">Shopping</label><br />
            <input type="checkbox" id="Skiing" name="Filter" value="Skiing," />
            <label for="Skiing">Skiing</label><br />
            <input
              type="checkbox"
              id="Snorkeling"
              name="Filter"
              value="Snorkeling,"
            />
            <label for="Snorkeling"> Snorkeling</label><br />
            <input
              type="checkbox"
              id="Snow Playing"
              name="Filter"
              value="Snow Play,"
            />
            <label for="Snow Playing"> Snow Play</label><br />
            <input
              type="checkbox"
              id="Snowmobling"
              name="Filter"
              value="Snowmobling,"
            />
            <label for="Snowmobling">Snowmobling</label><br />
            <input
              type="checkbox"
              id="Snowshoeing"
              name="Filter"
              value="Snowshoeing,"
            />
            <label for="Snowshoeing"> Snowshoeing</label><br />
            <input type="checkbox" id="Surfing" name="Filter" value="Surfing," />
            <label for="Surfing"> Surfing</label><br />
            <input
              type="checkbox"
              id="Swimming"
              name="Filter"
              value="Swimming,"
            />
            <label for="Swimming"> Swimming</label><br />
            <input
              type="checkbox"
              id="Team Sports"
              name="Filter"
              value="Team Sports,"
            />
            <label for="Team Sports"> Team Sports</label><br />
            <input type="checkbox" id="Tubing" name="Filter" value="Tubing" />
            <label for="Tubing">Tubing</label><br />
            <input
              type="checkbox"
              id="Water Skiing"
              name="Filter"
              value="Water Skiing"
            />
            <label for="Water Skiing"> Water Skiing</label><br />
            <input
              type="checkbox"
              id="Wildlife Watching"
              name="Filter"
              value="Wildlife Watching"
            />
            <label for="Wildlife Watching"> WildLife Watching</label><br/>
          </div>
            </div>   
            
            
         
        <div class = "col">
          <h3 style="text-decoration:underline">State</h3>
          <div class="container" style="font-size:large">
            <div *ngFor = "let s of state">
              <input
                type="checkbox"
                id="{{s.name}}"
                name="State"
                value="{{s.abbreviation}},"
              />
              <label for="{{s.name}}">{{s.abbreviation}}</label><br/>
            </div>
          </div>
          
        </div>
      </div>
          <input type="submit" value="submit" (click)="filterByActivity()" style="font-size:large" />      
        </form>
      </div>
    </div>
  </div>
</div>
