/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

.navbar{
  background-color:#51615487;
  font-family:monospace;
  font-size:x-large
}

body {
  /* overflow: hidden; */
  background-color: #fff4df;
  font-family:monospace;
  font-size: medium;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.results{
  background-color:   #51615487;
  color: #fff4df;
}

.search{
  background-color:  #51615487;
  color: #100f0eba;
  font-size: large;
}

.searchbody{
  background-color:  #5161544b;
  color: #100f0eba;
}

.buttons{
background-color:   #516154;
color: #fff4df;
}

.alertbttn{
  background-color: #d95454;
  color: #fff4df;
}

.alertspage{
  border-style: outset;
  padding: 2%;
  font-family:monospace;
  font-size: large;
  background-color: #e2d8c6;
}

.cardHeader{
  
}