<style>
  a:link, a:visited {
    background-color: #cacfcb;
    /* background-color: black; */
    /* color:  rgb(246, 226, 203) !important; */
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 5%;
    text-align: center;
    font-size: large;
    text-decoration: none;
    margin: 1rem;
  }
  
  a:hover, a:active {
    background-color: #edefed;
    color: #fff4df;
  }
  </style>

<header style=" background-color: #516154;">
  <nav
  style="background-color: #516154;"
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
  >
    <div style="color: rgb(246, 226, 203); background-color: #516154;" class="container">
      
    <img src="assets/Images/navImg.png" width="200" [routerLink]="['']" style="cursor:pointer"/>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          
          <li class="nav-item" *ngIf="loggedIn" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profilePage']"
              > My AF</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profileForm']"
              >Manage Profile</a>
          </li>
          <li class="nav-item" *ngIf="loggedIn == false && loading==false" [routerLinkActive]="['link-active']" style="border-width:2px">
            <a class="nav-link text-dark" [routerLink]="['/park']"
              >Park Finder</a
            >
          </li>
        </ul>
      </div>
    </div>
  <div *ngIf="loading==false"> <asl-google-signin-button
    *ngIf="!loggedIn"
    type="icon"
    size="medium"
  ></asl-google-signin-button></div>
 

  <div *ngIf="loggedIn" style="margin:2rem;">
    <img src="{{ user.photoUrl }}">
    <div>
    <h4 style="font-style:italic;color:#cacfcb;margin-top:0.5rem;">{{ newUser.userName }}</h4>
    </div>

    <button class="btn btn-outline-dark" *ngIf="loggedIn" (click)="signOut()" style=" background-color: #cacfcb;font-size:1.25rem;border:none;">
      Sign Out
    </button>
  </div>
  
      
    <p *ngIf="!loggedIn && loading==false" style="font-style:italic;font-size:1.35rem;line-height:1.6rem; margin:1.5rem;color:#cacfcb">Log in for <br> more tools</p>
    <p *ngIf="!loggedIn && loading" style="font-style:italic;color:#cacfcb">Loading</p> 
  
  </nav>
</header>
