<div class="card">
    <div class="card-body; text-center">
      <h1>My Adventure Badges</h1>
    </div>
  </div>
  <br>
<div class="row">
  <div *ngFor="let badge of userBadges" class="col-sm-3" width="50px">
    <div class="card">
      <div class="card-body; text-center">
        <h3>{{ badge.name }}</h3>
        <img src="{{ badge.badgeImg }}" />
        <p>{{ badge.desciption }}</p>
      </div>
    </div>
  </div>
</div>
<br>


<div class="row">
<div *ngFor="let i of [1,2,3,4]" class="col-sm-3">
  <div class="card">
    <div class="card-body; text-center">
      <h3>Badge will release soon!</h3>
      <img src="https://www.roadtrafficsigns.com/img/lg/K/Wait-Traffic-Sign-K-7650.gif" width="50px"/>
      <p>Coming soon!</p>
    </div>
  </div>
</div>
</div>

