<div class="card" style="width: 18rem" *ngIf="display">
  <div class="card-header">
    <h3>{{ singleAdventure.title }}</h3>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ singleAdventure.details }}</li>
    <li class="list-group-item">Rating: {{ singleAdventure.rating }}</li>
  </ul>
</div>
<button (click)="deleteLog()">x</button>
<button (click)="display = !display">edit</button>
<div class="card" style="width: 18rem" *ngIf="!display">
  <div class="card-header">
    <input type="text" [(ngModel)]="singleAdventure.title">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><input type="text" [(ngModel)]="singleAdventure.details"></li>
    <li class="list-group-item"><input type="number" [(ngModel)]="singleAdventure.rating"></li>
  </ul>
  <button (click)="alterLog()">Submit Change</button>
</div>
<br />
